/* We use 'html' and 'body' to ensure we out-rank the Mintlify defaults */
html, body {
  --mint-color-text: #1A181D !important;
  --mint-color-background: #FAFAFB !important;

  /* Token colors - Light Mode */
  --mint-token-keyword: #5B39F5;
  --mint-token-string: #183408;
  --mint-token-function: #2518B5;
  --mint-token-comment: #8B8990;
  --mint-token-constant: #3465C8;
  --mint-token-parameter: #F85931;
  --mint-token-punctuation: #3E3A46;
}

/* Dark mode override */
.dark body, 
html.dark {
  --mint-color-text: #ECEBEC !important;
  --mint-color-background: #152D5E !important;

  /* Token colors - Dark Mode */
  --mint-token-keyword: #9D88F9;
  --mint-token-string: #A7EC80;
  --mint-token-function: #DED7FD;
  --mint-token-comment: #D8D8DA;
  --mint-token-constant: #CBDCFD;
  --mint-token-parameter: #F6D86B;
  --mint-token-punctuation: #FAFAFB;
}
